public/.htaccess
/.htaccess
# Config and Htaccess Files
public/config.php
public/admin/config.php

public/adminer.php

# Image Cache Files
public/image/*
public/image/cache/*
!public/image/cache/index.html

# System Cache Files
storage/cache/*
!storage/cache/index.html

# Modification Files
storage/modification/*
!storage/modification/index.html
my_module/*

# Download Files
storage/download/*
!storage/download/index.html

# Upload Files
storage/upload/*
!storage/upload/index.html

# Log Files
storage/logs/*
!storage/logs/index.html

install/*

# txt close
*.txt
/*.txt

# IDE Project files
.projectKnowledge
nbproject

# robots
public/robots.txt